div.page-header {
  position: absolute;
  top: 0px;
  background: white;
  padding: 10px;
  height: var(--heading-height);
  width: 100%;
  margin-bottom: 0px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;

  h1 {
    font-size: 2em;
    font-weight: normal;
  }

  img {
    height: 75%;
    border-radius: 100%;
    object-fit: cover;
  }
}
